@page "/datatexture"

<h1>Data to texture</h1>

<p>Hey</p>

<BECanvas Width="640" Height="640" @ref="_canvasReference" OnMouseDown="(e) => MouseDown(e)" OnMouseUp="(e) => MouseUp(e)" OnMouseMove="async (e) => await MouseMove(e)"></BECanvas>